/*
 * Editor Styles
 *
 * @package Harrison
 */

/*--------------------------------------------------------------
# - Variables
--------------------------------------------------------------*/
@import "_mixins";
@import "_variables";
@import "_root";

/*--------------------------------------------------------------
# - Layout
--------------------------------------------------------------*/
@import "8-editor/editor-layout";

/*--------------------------------------------------------------
# - Elements
--------------------------------------------------------------*/
@import "8-editor/editor-elements";

/*--------------------------------------------------------------
# - Blocks
--------------------------------------------------------------*/
@import "5-blocks/core-blocks";
@import "8-editor/editor-blocks";

/*--------------------------------------------------------------
# - Colors
--------------------------------------------------------------*/
@import "5-blocks/colors";

/*--------------------------------------------------------------
# - Font Sizes
--------------------------------------------------------------*/
@import "5-blocks/font-sizes";

/*--------------------------------------------------------------
# - Plugins
--------------------------------------------------------------*/
@import "9-plugins/magazine-blocks";
@import "8-editor/editor-magazine-blocks";
