/* Featured Images */
.post-image {
	margin-bottom: 1rem;
}

.wp-post-image {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

/* Featured Image on single posts */
.single-post .type-post .post-image-single {
	margin-left: -100px;
	margin-right: -100px;
	max-width: 1080px;
}
