/* Button Block */
.wp-block-button__link:link,
.wp-block-button__link:visited {
	text-decoration: none;
}

.wp-block-button__link:hover,
.wp-block-button__link:active {
	text-decoration: underline;
}

/* Image Block */
.wp-block-image {
	margin-bottom: 1.5em;

	img {
		vertical-align: top;
	}
}

/* Media Text Block */
.wp-block-media-text {
	margin-bottom: 1.5em;
}

/* Cover Block */
.wp-block-cover {
	display: flex;
	margin-bottom: 1.5em;
}

.wp-block-cover-text {
	margin-top: 0;
	margin-bottom: 0;
	@include font-size(32);
}

.wp-block-cover.alignwide,
.wp-block-cover.alignfull {
	width: auto;
}

/* Image */
.wp-block-image .alignleft {
	margin-right: 1.5em;
}

.wp-block-image .alignright {
	margin-left: 1.5em;
}

/* Captions */
.blocks-gallery-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	@include font-size(16);
	@include color(--light-text-color);
	text-align: center;
}

/* Latest Posts */
.wp-block-latest-posts.wp-block-latest-posts__list {
	margin: 0;
	padding: 0;
}

.wp-block-latest-posts__post-date {
	@include color(--light-text-color);
	@include font-size(14);
	margin-bottom: 0.5em;
}

/* Table */
.wp-block-table table {
	table-layout: auto;
}

/* Separator Block */
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 120px;
	height: 3px;
	@include background(--text-color);
}

/* Video Embed Block */
.wp-block-embed-vimeo.alignfull iframe {
	width: 100%;
}

/* Quote Block */
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	border: none;
	margin: 0 0 1.5em;
	padding: 0;
	@include font-size(24);
}

.wp-block-quote.is-style-large p {
	font-size: inherit;
	font-style: inherit;
	line-height: inherit;
}

.wp-block-quote.is-style-large cite {
	text-align: inherit;
	@include font-family(--text-font);
}

/* Pullquote Block */
.wp-block-pullquote {
	margin-bottom: 1.5em;
	padding: 1.5em 0;
	border-bottom: 3px solid;
	border-top: 3px solid;
	@include border-color(--page-border-color);
}

.wp-block-pullquote blockquote {
	border: none;
	margin: 0;
	padding: 0;
	@include font-size(28);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

.wp-block-pullquote p {
	font-size: inherit;
	line-height: inherit;
}

.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p {
	@include font-size(22);
}

.wp-block-pullquote blockquote cite {
	color: $textColor;
	@include font-family(--text-font);
	font-style: normal;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	max-width: 100%;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
	margin-bottom: 0.75em;
	font-size: inherit;
}

.wp-block-pullquote.is-style-solid-color blockquote cite {
	color: inherit;
}
