/* ThemeZee Magazine Blocks */
:root {
	--tz-column-gap: 1.5rem;
}

.tz-magazine-block .tz-magazine-post {
	margin: 0 0 1.5rem;
	padding: 0;
}

.tz-magazine-block .tz-entry-title {
	@include font-size(24);
}

.tz-magazine-block .tz-magazine-grid-columns-3 .tz-entry-title {
	@include font-size(20);
}

.tz-magazine-block .tz-magazine-grid-columns-4 .tz-entry-title,
.tz-magazine-block .tz-magazine-thumbnail-list .tz-entry-title {
	@include font-size(18);
}

.tz-magazine-block .tz-entry-meta {
	@include font-size(15);
}

.tz-magazine-block .tz-meta-field {
	margin-right: 1em;
}

.tz-magazine-block .tz-entry-content {
	@include font-size(17);
}
