.site {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	overflow: hidden;
	max-width: $themeWidth;
	@include background(--page-background-color);
}

.site-header,
.site-container {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.site-content {
	padding: 1.5rem 1.5rem 0;
}

.site-main {
	margin-left: auto;
	margin-right: auto;
	max-width: $contentWidth;
}

.page-footer {
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	padding: 1.5rem;
}

.site-footer {
	padding: 1rem 1.5rem;
}
