/* Editor Block Styles */
.editor-styles-wrapper .wp-block-heading.is-style-widget-title {
	padding: 0;
	@include color(--title-color);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size(20);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	@include line-height(--title-line-height);
}
