@media only screen and (min-width: 640px) {
	div.wp-block-columns {
		gap: 1.5rem;
	}

	.wp-block-group.has-background,
	.wp-block-column.has-background {
		padding: 1.5rem;
	}
}

@media only screen and (min-width: 960px) {
	div.wp-block-columns {
		gap: 1.75rem;
	}

	.wp-block-group.has-background,
	.wp-block-column.has-background {
		padding: 1.75rem;
	}
}

@media only screen and (min-width: 1280px) {
	div.wp-block-columns {
		gap: 2rem;
	}

	.wp-block-group.has-background,
	.wp-block-column.has-background {
		padding: 2rem;
	}
}
