@media only screen and (min-width: 640px) {
	.site-title {
		@include font-size(28);
	}

	.site-description {
		@include font-size(15);
	}

	.entry-title {
		@include font-size(32);
	}

	.entry-content {
		@include font-size(17);
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.entry-meta,
	.entry-categories,
	.more-link,
	.pagination,
	.site-footer {
		@include font-size(16);
	}

	.archive-header .archive-title,
	.search-header .search-title,
	.post-navigation .nav-links .entry-title,
	.comments-title,
	.comment-reply-title {
		@include font-size(20);
	}

	.comment {
		@include font-size(17);
	}

	.comment-meta .comment-metadata,
	.comment .reply,
	.comment-form .logged-in-as,
	.comment-reply-title small a {
		@include font-size(16);
	}
}

@media only screen and (min-width: 960px) {
	.site-title {
		@include font-size(32);
	}

	.site-description {
		@include font-size(16);
	}

	.entry-title {
		@include font-size(40);
	}

	.entry-content {
		@include font-size(18);
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.entry-meta,
	.entry-categories,
	.more-link,
	.pagination,
	.site-footer {
		@include font-size(17);
	}

	.archive-header .archive-title,
	.search-header .search-title,
	.post-navigation .nav-links .entry-title,
	.comments-title,
	.comment-reply-title {
		@include font-size(22);
	}
}

@media only screen and (min-width: 1280px) {
	.site-title {
		@include font-size(36);
	}

	.site-description {
		@include font-size(17);
	}

	.entry-title {
		@include font-size(48);
	}

	.entry-content {
		@include font-size(19);
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.entry-meta,
	.entry-categories,
	.more-link,
	.pagination,
	.site-footer {
		@include font-size(18);
	}

	.archive-header .archive-title,
	.search-header .search-title,
	.post-navigation .nav-links .entry-title,
	.comments-title,
	.comment-reply-title {
		@include font-size(24);
	}

	.comment {
		@include font-size(18);
	}

	.comment-meta .comment-metadata,
	.comment .reply,
	.comment-form .logged-in-as,
	.comment-reply-title small a {
		@include font-size(17);
	}
}
