/* Grid Blog Layout */
.blog-layout-horizontal-list,
.blog-layout-two-column-grid,
.blog-layout-three-column-grid {
	.site-main,
	.pagination {
		max-width: $contentFullwidth;
	}
}

@media only screen and (min-width: 800px) {
	.blog-layout-horizontal-list {
		.post-wrapper .type-post {
			display: flex;
			flex-wrap: nowrap;
			margin-right: -2rem;
			align-items: center;

			.post-image {
				width: 50%;
				margin-right: 1rem;
				margin-bottom: 0;
			}

			.entry-wrap {
				width: 50%;
				margin-left: 1rem;
			}

			.entry-title {
				@include font-size(24);
			}
		}
	}

	.blog-layout-horizontal-list-alt {
		.post-wrapper .type-post:nth-of-type(even) {
			flex-direction: row-reverse;

			.post-image {
				margin-right: 0;
				margin-left: 1rem;
			}

			.entry-wrap {
				margin-left: 0;
				margin-right: 1rem;
			}
		}
	}

	.blog-layout-two-column-grid,
	.blog-layout-three-column-grid {
		.post-wrapper {
			display: flex;
			flex-wrap: wrap;
			margin-right: -2rem;

			.type-post {
				padding-right: 2rem;
				margin-bottom: 2rem;
				width: 50%;

				.post-image {
					margin-bottom: 1rem;
				}

				.entry-title {
					@include font-size(24);
				}
			}
		}
	}
}

@media only screen and (min-width: 960px) {
	.blog-layout-horizontal-list,
	.blog-layout-two-column-grid,
	.blog-layout-three-column-grid {
		.post-wrapper {
			.type-post {
				.entry-title {
					@include font-size(28);
				}

				.entry-meta,
				.entry-categories,
				.more-link {
					@include font-size(16);
				}
			}
		}
	}
}

@media only screen and (min-width: 1120px) {
	.blog-layout-horizontal-list {
		.post-wrapper {
			.type-post {
				margin-right: -2.5rem;

				.post-image {
					margin-right: 1.25rem;
				}

				.entry-wrap {
					margin-left: 1.25rem;
				}

				.entry-title {
					@include font-size(32);
				}
			}
		}
	}

	.blog-layout-horizontal-list-alt {
		.post-wrapper .type-post:nth-of-type(even) {

			.post-image {
				margin-left: 1.25rem;
			}

			.entry-wrap {
				margin-right: 1.25rem;
			}
		}
	}

	.blog-layout-two-column-grid,
	.blog-layout-three-column-grid {
		.post-wrapper {
			margin-right: -2.5rem;

			.type-post {
				padding-right: 2.5rem;
				margin-bottom: 2.5rem;

				.post-image {
					margin-bottom: 1.5rem;
				}

				.entry-title {
					@include font-size(32);
				}
			}
		}
	}

	.blog-layout-three-column-grid {
		.post-wrapper {
			.type-post {
				width: 33.3333333333333%;

				.entry-title {
					@include font-size(24);
				}
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.blog-layout-horizontal-list,
	.blog-layout-two-column-grid {
		.post-wrapper {
			.type-post {
				.entry-title {
					@include font-size(36);
				}

				.entry-meta,
				.entry-categories,
				.more-link {
					@include font-size(17);
				}
			}
		}
	}

	.blog-layout-three-column-grid {
		.post-wrapper {
			.type-post {
				width: 33.3333333333333%;

				.entry-title {
					@include font-size(28);
				}

				.entry-meta,
				.entry-categories,
				.more-link {
					@include font-size(17);
				}
			}
		}
	}
}
