/* Wide Theme layout */
body.wide-theme-layout .site {
	max-width: 100%;
}

/* Centered Header layout */
@media only screen and (min-width: 960px) {
	body.vertical-header-layout .header-main {
		flex-direction: column;
		align-items: center;
		padding-top: 2.5rem;
		padding-bottom: 2rem;

		.site-logo {
			margin: 0 0 1rem;
		}

		.site-branding {
			margin: 0 0 1rem;
			align-items: center;
		}

		.primary-navigation,
		.menu-toggle {
			margin: 0;
		}
	}
}

/* Featured Header Image on Single Posts */
.single-post-header-image-hidden .site #headimg {
	display: none;
}
