/* Hide Elements in Customizer for instant live preview */
.credit-link-hidden .site-info .credit-link,
.single-post-header-image-hidden .site #headimg {
	display: none;
}

/* Wide Theme layout */
body.wide-theme-layout .site {
	max-width: 100%;
}

/* Centered Theme layout */
@media only screen and (min-width: 960px) {
	body.centered-theme-layout {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media only screen and (min-width: 1120px) {
	body.centered-theme-layout {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

@media only screen and (min-width: 1280px) {
	body.centered-theme-layout {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

/* Centered Header layout */
@media only screen and (min-width: 960px) {
	body.vertical-header-layout .site-header {
		padding: 0;
	}

	body.vertical-header-layout .header-main {
		flex-direction: column;
		align-items: center;
		padding-top: 2.5rem;
		padding-bottom: 0;

		.site-logo {
			margin: 0 0 1rem;
		}

		.site-branding {
			margin: 0 0 2.5rem;
			align-items: center;
		}

		.primary-navigation {
			display: flex;
			margin: 0;
			padding: 0.5rem 0;
			width: 100%;
			justify-content: center;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			border-top: 1px solid var(--header-border-color);
		}

		.main-navigation > ul > li {
			padding: 0;
		}

		.main-navigation > ul > li > a {
			padding: 1rem;
			border: none;
		}

		.main-navigation > ul > li.current-menu-item > a {
			text-decoration: underline;
		}

		.main-navigation ul ul {
			border-top: 3px solid rgba(255, 255, 255, 0.95);
			border-top: 3px solid var(--header-text-color);
		}
	}
}
