.widget {
	margin: 0 0 1.5rem;
	padding: 0;

	.widget-title {
		margin: 0 0 1rem;
		padding: 0;
		@include color(--title-color);
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		@include font-size(20);
		@include font-family(--title-font);
		@include font-weight(--title-font-weight);
		@include text-transform(--title-text-transform);
		line-height: 1.4;
	}

	ul li > a,
	ol li > a,
	.tagcloud > a {
		text-decoration: none;
	}
}
